---
title: "Team"
layout: default
excerpt: "hmr-lab: Team members"
sitemap: false
permalink: /team/
---

<h1>{{member.title}}</h1>

<!-- Staff -->

<h2><a id="staff"></a>Faculty</h2>
{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row align-items-center mt-3">
        <div class="col-md-2">
            <!-- <a href={{member.url}}> -->
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            <!-- </a> -->
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            <p class="card-text"><b>Research Interest:</b> {{ member.interest }}</p>
            <p class="card-text"><b>E-mail:</b> <tt>{{ member.netid }} at illinois dot edu</tt> </p>
            <!-- Twitter -->
            {% if member.social.twitter %}
            <a target="blank" href="{{member.social.twitter}}"><i class="fab fa-twitter"></i></a>
            {% endif %}
            <!-- Linkedin -->
            {% if member.social.linkedin %}
                <a target="blank" href="{{member.social.linkedin}}"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            <!-- Github -->
            {% if member.social.github %}
                <a target="blank" href="{{member.social.github}}"><i class="fab fa-github"></i></a>
            {% endif %}
            <!-- Personal Website -->
            {% if member.social.website %}
                <a target="blank" href="{{member.social.website}}"><i class="fas fa-globe"></i></a>
            {% endif %}
            <!-- Google Scholar -->
            {% if member.social.google-scholar %}
                <a target="blank" href="{{member.social.google-scholar}}"><i class="fab fa-google"></i></a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Students -->

<h2><a id="student"></a>Students</h2>
{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <!-- <a href={{member.url}}> -->
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            <!-- </a> -->
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            {% if member.interest %}
            <p class="card-text"><b>Research Interest:</b> {{ member.interest }}</p>
            {% endif %}
            <p class="card-text"><b>E-mail:</b> <tt>{{ member.netid }} at illinois dot edu</tt> </p>
            <!-- Twitter -->
            {% if member.social.twitter %}
                <a target="blank" href="{{member.social.twitter}}"><i class="fab fa-twitter"></i></a>
            {% endif %}
            <!-- Linkedin -->
            {% if member.social.linkedin %}
                <a target="blank" href="{{member.social.linkedin}}"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            <!-- Github -->
            {% if member.social.github %}
                <a target="blank" href="{{member.social.github}}"><i class="fab fa-github"></i></a>
            {% endif %}
            <!-- Personal Website -->
            {% if member.social.website %}
                <a target="blank" href="{{member.social.website}}"><i class="fas fa-globe"></i></a>
            {% endif %}
            <!-- Google Scholar -->
            {% if member.social.google-scholar %}
                <a target="blank" href="{{member.social.google-scholar}}"><i class="fab fa-google"></i></a>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endfor %}
